.animate-chat {
    animation: animateChatCloud .8s cubic-bezier(.25, -1, .3, 2) forwards;
}

@keyframes animateChatCloud {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-block {
    animation: animateBlock .8s cubic-bezier(.25, -1, .3, 2) forwards;
}

@keyframes animateBlock {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-text {
    animation: animateText .8s cubic-bezier(.25, -1, .3, 2) forwards;
}

@keyframes animateText {
    to {
        opacity: 1;
    }
}

/* special animation */
.animate-block-2-1 {
    animation: animateBlock21 .8s cubic-bezier(.25, -1, .3, 2) forwards;
}

@keyframes animateBlock21 {
    to {
        transform: translateY(0) translateX(-40px);
        opacity: 1;
    }
}

/* guruminda special animation */
@keyframes guruminda {
    0% { transform: translateX(-50%) rotate(-20deg); }
    100% { transform: translateX(-50%) rotate(20deg); }
}

#falling-guruminda.animated {
    animation: guruminda .7s infinite alternate;
}