/* footer */
footer {
    padding: 80px 0;
    background: #154562;
}

footer .footer-logo img {
    width: 200px;
    position: relative;
    top: -30px;
    left: -10px;
}

.footer-header {
    margin-bottom: 20px;
    color: #d7a234;
}

.footer-description {
    line-height: 2;
    color: white;
}

footer .sponsor img {
    width: 100px;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer ul li:not(:last-child) {
    margin-bottom: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    transition: all .3s ease;
}

footer ul li a:hover {
    opacity: .7;
}
