* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.hidden {
    overflow: hidden;
}

/*  fonts  */
@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: KidKnowledge;
    src: url(../fonts/Kid-Knowledge-1.otf);
}

/* section */
.scene {
    height: 100vh;
    position: relative;
    /* background: #154462; */
    background: #2f4962;
}

.scene.scene-animation > * {
    position: absolute;
}

.scene.scene-animation > .parallax-container {
    position: relative;
}

.scene.scene-animation > .parallax-container > div {
    position: absolute;
}

.section-title-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title-container .section-title-wrapper {
    text-align: center;
}

.section-title-container .section-title-wrapper .section-title {
    font-size: 32px;
    border: 1px solid white;
    margin: 0;
    padding: 4px 12px;
    border-radius: 10px;
    line-height: 1;
}

.section-title-container .section-title-wrapper .section-sub-title {
    font-size: 24px;
    margin-bottom: 8px;
    display: block;
}

/* title */
.scene-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.title-container {
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.title-container > * {
    margin: 0;
}

.title-container .start-star {
    position: relative;
    top: 30px;
}

.title-container .title {
    font-size: 120px;
    line-height: 1;
}

.title-container .sub-title {
    font-family: PermanentMarker;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title-container .sub-title span {
    margin: 0 5px;
}

.title-container .sub-title span span {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    animation: blur .7s forwards;
    margin: 0 -2px;
}

.title-container .sub-title span:nth-child(1) span:nth-child(2) { animation-delay: .1s; }
.title-container .sub-title span:nth-child(1) span:nth-child(3) { animation-delay: .2s; }
.title-container .sub-title span:nth-child(1) span:nth-child(4) { animation-delay: .3s; }
.title-container .sub-title span:nth-child(1) span:nth-child(5) { animation-delay: .4s; }
.title-container .sub-title span:nth-child(1) span:nth-child(6) { animation-delay: .5s; }

.title-container .sub-title span:nth-child(2) span:nth-child(1) { animation-delay: .6s; }
.title-container .sub-title span:nth-child(2) span:nth-child(2) { animation-delay: .7s; }
.title-container .sub-title span:nth-child(2) span:nth-child(3) { animation-delay: .8s; }
.title-container .sub-title span:nth-child(2) span:nth-child(4) { animation-delay: .9s; }
.title-container .sub-title span:nth-child(2) span:nth-child(5) { animation-delay: 1s; }
.title-container .sub-title span:nth-child(2) span:nth-child(6) { animation-delay: 1.1s; }

.title-container .sub-title span:nth-child(4) span:nth-child(1) { animation-delay: 1.2s; }
.title-container .sub-title span:nth-child(4) span:nth-child(2) { animation-delay: 1.3s; }
.title-container .sub-title span:nth-child(4) span:nth-child(3) { animation-delay: 1.4s; }
.title-container .sub-title span:nth-child(4) span:nth-child(4) { animation-delay: 1.5s; }

.title-container .sub-title span:nth-child(5) span:nth-child(1) { animation-delay: 1.6s; }
.title-container .sub-title span:nth-child(5) span:nth-child(2) { animation-delay: 1.7s; }
.title-container .sub-title span:nth-child(5) span:nth-child(3) { animation-delay: 1.8s; }
.title-container .sub-title span:nth-child(5) span:nth-child(4) { animation-delay: 1.9s; }
.title-container .sub-title span:nth-child(5) span:nth-child(5) { animation-delay: 2s; }

.title-container .sub-title span:nth-child(6) span:nth-child(1) { animation-delay: 2.1s; }
.title-container .sub-title span:nth-child(6) span:nth-child(2) { animation-delay: 2.2s; }
.title-container .sub-title span:nth-child(6) span:nth-child(3) { animation-delay: 2.3s; }
.title-container .sub-title span:nth-child(6) span:nth-child(4) { animation-delay: 2.4s; }

.title-container .sub-title span:nth-child(7) span:nth-child(1) { animation-delay: 2.5s; }
.title-container .sub-title span:nth-child(7) span:nth-child(2) { animation-delay: 2.6s; }
.title-container .sub-title span:nth-child(7) span:nth-child(3) { animation-delay: 2.7s; }
.title-container .sub-title span:nth-child(7) span:nth-child(4) { animation-delay: 2.8s; }
.title-container .sub-title span:nth-child(7) span:nth-child(5) { animation-delay: 2.9s; }

@keyframes blur {
    to {
        -webkit-filter: blur(0);
    }
}

.scene-title .label-start {
    font-family: KidKnowledge;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin-top: 40px;
    transform: scale(0);
    opacity: 0;
    animation: animateChatCloud .5s forwards 3s cubic-bezier(.25, -1, .3, 2);
}

.scene-title .label-start.hide {
    display: none;
}

/* home setting */
.home-setting {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 80px;
}

.home-menu {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

.home-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
}

.home-menu ul li {
    font-family: KidKnowledge;
    color: white;
    padding: 44px 0;
    width: 100%;
    text-align: center;
}

.home-menu ul li input {
    margin-bottom: 35px;
}

.home-menu ul li input#music-check {
    margin-bottom: 24px;
}

.home-menu ul li label {
    display: block;
    transform: rotate(90deg);
    font-size: 1.2rem;
    cursor: pointer;
    transition: opacity .5s;
    letter-spacing: 1px;
    vertical-align: middle;
}

/* part title */
.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-title-container {
    color: white;
    font-family: PermanentMarker;
    text-align: center;
    text-transform: uppercase;
}

.part-title-container .part-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.part-title {
    font-size: 28px;
    width: 700px;
    position: relative;
    left: -340% !important;
    top: 100% !important;
}

.part-title span {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

/* scene 1a1 */
#scene-1-a-1 {
    background: url(../assets/1-01.svg);
    position: relative;
    z-index: 99;
}

/* scene 1 a title */
#scene-1-a-title {
    height: 50vh;
}

#scene-1-a-title .part-title-container {
    position: relative;
    top: 0;
    /*opacity: 0;*/
}

/* scene 1a2 */
#scene-1-a-2 .text-1 {
    top: 600px;
    font-size: 28px;
    transform: translateX(-50%) scale(0);
    transition: all 1s cubic-bezier(.25, -1, .3, 2);
    opacity: 0;
}

#scene-1-a-2 .text-1.reveal {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

.sun-svg {
    opacity: 0;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
}

.white-cloud-left {
    left: -300px;
    top: 160px;
    z-index: 2;
    opacity: .1;
}

.white-cloud-right {
    right: -290px;
    top: 350px;
    z-index: 2;
    opacity: 0;
}

.blue-cloud-left {
    z-index: 1;
    left: -405px;
    top: 20px;
    opacity: .1;
}

.blue-cloud-right {
    z-index: 1;
    right: -400px;
    top: 210px;
    opacity: .1;
}

/* scene 1 a 3 */
#scene-1-a-3 {
    height: 120vh;
}

#scene-1-a-3 .scene-box-1 {
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
}

#scene-1-a-3 .scene-box-bg {
    position: relative;
    right: -300px;
    opacity: .1;
}

#scene-1-a-3 .scene-box-bg .transparent-cloud {
    position: absolute;
    right: -350px;
    top: 0;
    width: 100%;
    height: 100%;
}

#scene-1-a-3 .scene-box-1 .castle {
    position: absolute;
    left: -400px;
    top: -350px;
    opacity: 0;
}

#scene-1-a-3 .scene-box-1 .castle .castle-cloud {
    position: absolute;
    bottom: 0;
    left: -70px;
    width: 100%;
}

#scene-1-a-3 .scene-box-1 .chat-cloud-a {
    transform-origin: left bottom;
    transform: scale(0);
    opacity: 0;
}

#scene-1-a-3 .scene-box-1 .chat-cloud-a-3-1 {
    position: absolute;
    top: -80px;
    left: 430px;
}

#scene-1-a-3 .scene-box-1 .chat-cloud-a-3-2 {
    position: absolute;
    right: -130px;
    top: 80px;
}

#scene-1-a-3 .scene-box-1 .chat-cloud-a-3-2 .chat-text {
    left: 50px;
}

#scene-1-a-3 .scene-box-1 .cloud-info {
    position: absolute;
    left: -100px;
    bottom: -100px;
    opacity: 0;
}

#scene-1-a-3 .text-center {
    opacity: 0;
}

#scene-1-a-3 .text-1 {
    text-align: left;
    top: 660px;
    opacity: 0;
}

#scene-1-a-3 .scene-block {
    top: 750px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

#scene-1-a-3 .scene-block > div {
    opacity: 0;
    position: relative;
    bottom: -100px;
}

#scene-1-a-3 .scene-block .block-1-2 .block-1-2-a {
    position: absolute;
    left: 0;
    top: -20px;
}

#scene-1-a-3 .scene-block .block-1-3 {
    transform: translateY(-20px) translateX(-20px);
}

#scene-1-a-3 .text-2 {
    top: 1000px;
    transform: translateX(calc(-50% + -34px));
}

#scene-1-a-3 .blue-cloud-1a3-2 {
    position: absolute;
    left: 0;
    bottom: 10px;
    opacity: 0;
}

/* scene 1 a 4 */
#scene-1-a-4 {
    padding: 120px 0;
}

#scene-1-a-4 .scene-box-1 {
    left: 50%;
    transform: translateX(-50%);
}

#scene-1-a-4 .scene-box-1 .scene-bg-1 {
    position: relative;
    bottom: -200px;
    opacity: 0
}

#scene-1-a-4 .scene-box-1 .transparent-cloud-2 {
    position: absolute;
    top: 0;
    left: -150px;
    width: 100%;
    height: 100%;
}

#scene-1-a-4 .scene-box-1 .chat-cloud-a {
    transform: scale(0);
    opacity: 0;
}

#scene-1-a-4 .scene-box-1 .chat-cloud-1 {
    position: absolute;
    top: -55px;
    left: 460px;
    transform-origin: right bottom;
}

#scene-1-a-4 .scene-box-1 .chat-cloud-1 .chat-text {
    left: 50px;
}

#scene-1-a-4 .scene-box-1 .chat-cloud-2 {
    position: absolute;
    left: 130px;
    bottom: 160px;
    transform-origin: right top;
}

#scene-1-a-4 .scene-box-1 .chat-cloud-2 svg {
    transform: rotateX(-180deg) rotateY(-180deg);
}

#scene-1-a-4 .scene-box-1 .chat-cloud-2 .chat-text {
    left: 50px;
    top: 55px;
}

#scene-1-a-4 .scene-box-1 .gold-cloud {
    position: absolute;
    top: 0;
    right: -200px;
    opacity: 0;
}

#scene-1-a-4 .scene-box-1 .char-guruminda {
    position: absolute;
    left: 30%;
    transform: translateX(-50%) translateY(-80%);
    top: 50%;
    z-index: 1;
    opacity: 0;
}

#scene-1-a-4 .blue-cloud-2 {
    right: -200px;
    opacity: 0;
}

#scene-1-a-4 .white-star {
    right: 230px;
    top: -80px;
    opacity: 0;
}

#scene-1-a-4 .blue-star {
    right: -157px;
    top: -50px;
    opacity: 0;
}

/* scene 1 a 5 */
#scene-1-a-5 {
    padding: 120px 0;
}

#scene-1-a-5 .scene-block {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

#scene-1-a-5 .scene-block .block > * {
    position: relative;
    opacity: 0;
}

#scene-1-a-5 .scene-block .block .chat-cloud-a {
    transform-origin: left bottom;
    transform: scale(0);
}

#scene-1-a-5 .scene-block .block .block-2-1 {
    transform: translateX(-40px);
    position: relative;
    left: -100px;
}

#scene-1-a-5 .scene-block .block .block-2-1 .block-2-1-chat {
    position: absolute;
    left: 63%;
    top: -40px;
}

#scene-1-a-5 .scene-block .block .block-2-1 .block-2-1-chat .chat-text {
    position: absolute;
    top: 18px;
    left: 65px;
}

#scene-1-a-5 .scene-block .block .block-2-1 .block-2-1-chat-2 {
    position: absolute;
    left: 40%;
    top: -70px;
}

#scene-1-a-5 .scene-block .block .block-2-1 .block-2-1-chat-2 .chat-text {
    position: absolute;
    top: 24px;
    left: 40px;
}

#scene-1-a-5 .scene-block .block .block-2-1 .block-2-1-breath {
    position: absolute;
    bottom: -50px;
    right: -150px;
    opacity: 0;
}

#scene-1-a-5 .scene-block .block .block-2-3 {
    margin-top: 40px;
    text-align: right;
    left: -100px;
}

#scene-1-a-5 .scene-block .block .block-2-3 .block-2-3-cloud {
    position: absolute;
    bottom: -10px;
    right: -100px;
    opacity: 0;
}

#scene-1-a-5 .scene-block .block .block-2-3 .block-2-3-info {
    position: absolute;
    bottom: -20px;
    left: 30%;
    transform: translateX(-80%);
    opacity: 0;
}

#scene-1-a-5 .scene-block .block .block-2-2 {
    position: relative;
    right: -100px;
}

#scene-1-a-5 .scene-block .block .block-2-2 .block-2-2-cloud {
    position: absolute;
    bottom: -50px;
    right: -50px;
}

/* SCENE B */

#scene-b-parent {
    position: relative;
}

#show-curve {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

/*  scene 1 b 1 */
#falling-guruminda {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9998;
}

#falling-guruminda.change-color .fg3 {
    transition: all .3s ease;
    fill: #304a63;
}

#falling-guruminda.change-color .falling-effect {
    opacity: 1;
}

#falling-guruminda .falling-effect {
    position: absolute;
    top: -95px;
    left: 5px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all .5s ease;
}

.info-1-b-1 {
    right: 440px;
    top: 45%;
    opacity: 0;
    transform: scale(0);
    z-index: 9999;
}

@keyframes rainAppear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.green-rain {
    width: 100%;
    top: 50px;
    left: -50px;
    opacity: 0;
}

.yellow-rain {
    width: 100%;
    opacity: 0;
}

.thunder-1 {
    right: 200px;
    top: 7%;
    opacity: 0;
}

.thunder-2 {
    left: 400px;
    top: 50%;
    transform: translateY(-60%);
    opacity: 0;
}

.thunder-3 {
    left: 350px;
    top: 8%;
    opacity: 0;
}

.green-rain.animate-appear,
.yellow-rain.animate-appear,
.thunder-1.animate-appear,
.thunder-2.animate-appear,
.thunder-3.animate-appear {
    animation: rainAppear .3s infinite forwards alternate;
}

.yellow-rain.animate-appear { animation-duration: .6s; }
.thunder-1.animate-appear { animation-duration: .9s; }
.thunder-2.animate-appear { animation-duration: .6s; }
.thunder-3.animate-appear { animation-duration: .6s; }

.b-1-clouds {
    bottom: -400px;
    width: 100%;
    height: 50%;
    z-index: 9999;
}

.b-1-clouds.animated {
    animation: moveClouds 2s infinite alternate;
}

@keyframes moveClouds {
    0% { transform: translateX(-50px); }
    100% { transform: translateX(50px); }
}

.b-1-clouds > div {
    width: 100%;
    display: flex !important;
}

.b-1-clouds .cloud-container-green {
    top: 10px !important;
}

.b-1-clouds .cloud-container-white {
    top: 50px !important;
}

.b-1-clouds > div > div {
    position: absolute;
}

.b-1-clouds .b-1-clouds-blue {
    right: -110px;
    bottom: -90px;
}

.b-1-clouds .white-cloud-b {
    right: -80px;
    bottom: -240px;
}

.b-1-clouds .green-cloud-b {
    right: -90px;
    bottom: 0;
}

.b-1-clouds .white-cloud-b-2 {
    left: -130px;
    bottom: -130px;
}

.b-1-clouds .green-cloud-b-2 {
    left: -80px;
    bottom: 100px;
}

.b-1-clouds .b-1-clouds-blue-2 {
    left: -200px;
    bottom: -200px;
}

/*  scene 1 b 2, scene 1 b 3, scene 1 b 4 */
#scene-1-b-2, #scene-1-b-3, #scene-1-b-4 {
    background: #00a7a2;
}

/*  scene 1 b 2 */
.birds {
    right: -300px;
    top: 90%;
    z-index: 99;
}

#scene-1-b-2 .green-cloud-bg-2-1 {
    right: -650px;
    top: 230px;
    opacity: 0;
}

#scene-1-b-2 .green-cloud-2-b-2-1 {
    right: -350px;
    top: 50%;
    opacity: 0;
}

.info-1-b-2-1 {
    right: 300px;
    bottom: 300px;
    opacity: 0;
    transform: scale(0);
}

/* scene 1 b 3 */
#scene-1-b-3 {
    height: 80vh;
}

#scene-1-b-3 .green-cloud-bg-1 {
    right: -650px;
    top: 130px;
    opacity: 0;
}

#scene-1-b-3 .green-cloud-2-b-1 {
    right: -350px;
    top: 40%;
    opacity: 0;
}

#scene-1-b-3 .green-cloud-bg-2 {
    transform: rotateY(-180deg);
    left: -650px;
    top: -200px;
    opacity: 0;
}

#scene-1-b-3 .green-cloud-2-b-2 {
    transform: rotateY(-180deg);
    left: -350px;
    top: 0;
    opacity: 0;
}

.info-1-b-3-1 {
    left: 53%;
    top: 150px;
    opacity: 0;
    transform: scale(0);
    z-index: 99999;
}

#scene-1-b-3 .text-b3-1 {
    bottom: 25%;
    left: 30%;
    transform-origin: left bottom;
    transform: scale(0);
    opacity: 0;
    z-index: 99999;
}

/* scene 1 b 4 */
#scene-1-b-4 {
    height: 120vh;
}

.single-gold-cloud-right {
    right: -220px;
    top: -50px;
}

.single-gold-cloud-left {
    left: -220px;
    top: -60px;
}

.chat-1-b-4-1 {
    left: 60%;
    top: -150px;
    transform-origin: left bottom;
    transform: scale(0);
    opacity: 0;
    z-index: 99999;
}

.chat-1-b-4-1 .chat-text {
    left: 65px !important;
    top: 35px !important;
}

.tree-right-1 {
    right: -50px;
    bottom: -100px;
}

.tree-right-2 {
    right: 220px;
    bottom: 230px;
}

.tree-left-1 {
    transform: rotateY(-180deg);
    left: -50px;
    bottom: -100px;
}

.tree-left-2 {
    transform: rotateY(-180deg);
    left: 220px;
    bottom: 230px;
}

.text-b4-1 {
    bottom: 550px;
    left: 35%;
    position: absolute;
    z-index: 99999;
    transform-origin: right bottom;
    transform: scale(0);
    opacity: 0;
}

.cloud-above-ground {
    left: 50%;
    bottom: 550px;
    transform: translateX(-50%);
}

.green-ground-bg-1 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gd-left {
    left: 0;
    bottom: 400px;
}

.gd-right {
    right: 0;
    bottom: 400px;
}

/* SCENE C */

#scene-1-c-1, #scene-1-c-2, #scene-1-c-3, #scene-1-c-4  {
    background: #367d75;
}

/* scene 1 c 1*/
.scene-box-c1-1 {
    left: 50%;
    top: 150px;
    transform: translateX(-45%);
    display: flex;
}

.scene-box-c1-1 .scene-box-c1-1-1 {
    opacity: 0;
}

.scene-box-c1-1 .scene-box-c1-1-1-left {
    position: absolute;
    left: -300px;
    top: -100px;
    z-index: -1;
}

.scene-box-c1-1 .text-c1-1 {
    position: absolute;
    top: -10px;
    left: -10px;
}

.scene-box-c1-1 .scene-box-c1-1-2 {
    position: relative;
    opacity: 0;
}

.scene-box-c1-1 .scene-box-c1-1-2 .lutung-fall-new {
    position: absolute;
    top: -205px;
    left: -10px;
    opacity: 0;
}

.scene-box-c1-1 .scene-box-c1-1-2 .lutung-crown {
    position: absolute;
    top: -205px;
    left: -10px;
    opacity: 0;
}

.scene-box-c1-1 .scene-box-c1-1-2 .chat-1c1-1 {
    position: absolute;
    top: -50px;
    right: 100px;
    transform-origin: left bottom;
    transform: scale(0);
    opacity: 0;
}

.scene-box-c1-1 .scene-box-c1-1-2 .chat-1c1-1 .chat-text {
    top: 15px;
    left: 45px;
}

.scene-box-c1-1 .block-c1-1-2-cloud {
    position: absolute;
    right: -180px;
    bottom: -10px;
    opacity: 0;
}

.scene-box-c1-text {
    left: 50%;
    transform: translateX(-80%);
    top: 415px;
    opacity: 0;
}

.scene-box-c1-2 {
    left: 50%;
    top: 500px;
    transform: translateX(-57%);
    display: flex;
}

.scene-box-c1-2 .scene-box-c1-2-1 {
    position: relative;
    left: -150px;
    opacity: 0;
}

.scene-box-c1-2-1 .scene-box-c1-2-1-chat {
    position: absolute;
    top: -50px;
    left: 100px;
    transform-origin: right bottom;
    transform: scale(0);
    opacity: 0;
}

.scene-box-c1-2-1 .scene-box-c1-2-1-chat svg {
    transform: rotateY(180deg);
}

.scene-box-c1-2-1 .scene-box-c1-2-1-chat .chat-text {
    left: 40px;
}

.scene-box-c1-2-2 {
    position: relative;
    top: -80px;
    left: 70px;
    opacity: 0;
}

.scene-box-c1-2-2 > svg {
    /*animation: objectRotation 10s infinite linear;*/
}

.scene-box-c1-2-2 .lutung-char {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.scene-box-c1-2 .info-1c1-1 {
    position: absolute;
    bottom: 100px;
    right: -150px;
    transform: scale(0);
    opacity: 0;
}


/* scene 1 c 2 */
#scene-1-c-2 {
    height: 90vh;
}

.scene-box-c2-text {
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.scene-box-c2-1 {
    display: flex;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.scene-box-c2-1-1 {
    position: relative;
    left: -40px;
    opacity: 0;
}

.scene-box-c2-1-1 .lutung-2 {
    position: absolute;
    top: -30px;
    left: 0;
}

.scene-box-c2-1-1 .scene-box-c2-1-1-left {
    position: absolute;
    left: -300px;
    top: -100px;
}

.scene-box-c2-1-1 .text-c2-1 {
    position: absolute;
    left: -70px;
    top: -80px;
}

.scene-box-c2-1-1 .text-c2-2 {
    position: absolute;
    bottom: 70px;
    right: 180px;
}

.scene-box-c2-1-2 {
    position: relative;
    left: 70px;
    z-index: -1;
    opacity: 0;
}

.scene-box-c2-1-2 .box-c2-1-2-cloud {
    position: absolute;
    right: -400px;
    top: -100px;
    z-index: -1;
}

.scene-box-c2-1-2 .box-c2-1-2-animal {
    position: absolute;
    z-index: 1;
    bottom: -145px;
    right: -160px;
}

.scene-box-c2-1-2 .box-c2-1-2-bird1 {
    position: absolute;
    top: -120px;
    right: -110px;
    opacity: 0;
}

.scene-box-c2-1-2 .box-c2-1-2-bird2 {
    position: absolute;
    top: 20px;
    left: 100px;
}

.scene-box-c2-2 {
    display: flex;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
}

.scene-box-c2-2-3 {
    position: relative;
    bottom: -100px;
    opacity: 0;
}

.scene-box-c2-2-3 .info-1c2-1 {
    position: absolute;
    top: 50px;
    left: -20px;
    opacity: 0;
    transform: scale(0);
}

.scene-box-c2-2-3 .info-1c2-1 .chat-text {
    left: calc(50% + 5px);
}

.scene-box-c2-2-4 {
    position: relative;
    left: -50px;
    top: 100px;
    opacity: 0;
}

.scene-box-c2-2-4 .narration-sub-text {
    position: relative;
    left: 45px;
    top: -20px;
    font-size: 15px;
}

.scene-box-c2-2-4 .chat-1c2-1 {
    position: absolute;
    top: 100px;
    right: -100px;
    transform-origin: left bottom;
    transform: scale(0);
    opacity: 0;
}

.scene-box-c2-2-4 .chat-1c2-1 .chat-text {
    top: 18px;
    left: 45px;
}

.scene-box-c2-2-5 {
    position: relative;
    left: -30px;
    top: 150px;
    opacity: 0;
}

/* scene 1 c 3 */
.lutung-container {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.lutung-container #lutung-head {
    opacity: 0;
    position: relative;
    bottom: -100px;
}

.lutung-container .lutung-head-chat {
    left: 170px;
    top: 80px;
    position: absolute;
    transform: scale(0);
    transform-origin: left bottom;
    opacity: 0;
}

.lutung-container .lutung-head-chat .chat-text {
    top: 14px;
    left: 70px;
}

#scene-1-c-3 .text-c3-1 {
    top: 300px;
    opacity: 0;
}

#scene-1-c-3 .text-c3-1 p, #scene-1-c-3 .text-c3-3 p {
    line-height: 2;
}

#scene-1-c-3 .text-c3-2 {
    top: 450px;
    font-size: 40px;
}

#scene-1-c-3 .text-c3-2 .narration-text,
#scene-1-c-3 .text-c3-2 .text-line-big {
    transition: all 1s cubic-bezier(.25, -1, .3, 2);
    opacity: 0;
    transform: scale(0);
    margin-bottom: 10px;
}

#scene-1-c-3 .text-c3-2 .narration-text.reveal {
    transform: scale(1);
    opacity: 1;
}

#scene-1-c-3 .text-c3-2 .text-line-big.reveal {
    transform: scale(1);
    opacity: 1;
}

#scene-1-c-3 .text-c3-2 .text-c3-2-right {
    position: absolute;
    right: -480px;
    top: -70px;
    opacity: 0;
}

#scene-1-c-3 .text-c3-2 .text-c3-2-left {
    position: absolute;
    left: -530px;
    top: -40px;
    opacity: 0;
}

#scene-1-c-3 .text-c3-3 {
    top: 700px;
    opacity: 0;
}

/* scene 1 c 4 */
#scene-1-c-4 .part-title-container {
    color: #d6a236;
    position: relative;
    top: -80px;
    opacity: 0;
}

#scene-1-c-4 .part-title-container .part-title {
    left: -270% !important;
}
